<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <mapping class="cn.test.model.User"/>
    <!-- 11111111111111111111
    <mapping class="com.coscon.queryresult.CheckWebServiceQR"></mapping> -->
  </session-factory>
</hibernate-configuration>